@model DataModel.Sarees

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Javascripts/app.js"></script>
<script src="~/Scripts/Javascripts/ng-services.js"></script>
<script src="~/Scripts/Javascripts/ImageController.js"></script>
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sarees</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Material, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Material, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Material, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Colour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Colour, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Select aan Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" ng-controller="ImageController">
                <table>
                    <tr>
                        <td ng-repeat="img in allImages">
                            <div ng-class="{'imgHoverBorder':$index == selectedImage}" class="figure" ng-mouseenter="changeColour($index, true)" ng-mouseleave="changeColour($index, false)">
                                <p>
                                    <img src="{{img.ImageLocation}}"
                                         width="136" height="200"
                                         alt="{{img.Caption}}">
                                <p>
                                    {{img.Caption}}
                            </div>
                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
